<%- include("./partials/head") %>

<body>
    <!-- Layout wrapper -->
  <div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
      <!-- Menu -->
<%- include("./partials/header") %>

      <!-- / Menu -->

    <!-- Layout container -->
    <div class="layout-page">

      <!-- Content wrapper -->
      <div class="content-wrapper">
        <!-- Content -->

        <div class="container-xxl flex-grow-1 container-p-y">
          <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Servicios /</span> Alquiler paso 4</h4>

          <div class="row">
            <div class="col-md-9">
              <div class="card mb-4">
                <div class="d-flex align-items-center">
                  <a class="card-header" href="/servicios/alquiler2/<%- sess.idAlquiler %>">Fecha de alquiler</a> 
                  <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15"><path fill="currentColor" d="M8.293 2.293a1 1 0 0 1 1.414 0l4.5 4.5a1 1 0 0 1 0 1.414l-4.5 4.5a1 1 0 0 1-1.414-1.414L11 8.5H1.5a1 1 0 0 1 0-2H11L8.293 3.707a1 1 0 0 1 0-1.414Z"/></svg>
                  <a class="card-header" href="/servicios/alquiler3/<%- sess.idAlquiler %>">Opcion de alquiler</a> 
                  <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15"><path fill="currentColor" d="M8.293 2.293a1 1 0 0 1 1.414 0l4.5 4.5a1 1 0 0 1 0 1.414l-4.5 4.5a1 1 0 0 1-1.414-1.414L11 8.5H1.5a1 1 0 0 1 0-2H11L8.293 3.707a1 1 0 0 1 0-1.414Z"/></svg>
                  <a class="card-header" href="/servicios/alquiler4/<%- sess.idAlquiler %>">Pago</a>
                </div>
                
                <!-- Account -->
                <hr class="my-0" />
                <div class="card-body">
                  <form id="formAccountSettings" method="POST" onsubmit="return false">
                    <div class="row px-3">
                      <div class="mb-3 col-md-12">
                        <label class="form-label mb-3">Metodo de pago</label>
                        <div class="d-flex">
                          <div class="form-check">
                            <input name="default-radio-1" class="form-check-input" type="radio" value="" id="defaultRadio1">
                            <label class="form-check-label" for="defaultRadio1"> Tarjeta de credito </label>
                          </div>
                          <div class="form-check ms-3">
                            <input name="default-radio-1" class="form-check-input" type="radio" value="" id="defaultRadio2">
                            <label class="form-check-label" for="defaultRadio2"> Transferencia bancaria </label>
                          </div>
                          <div class="form-check ms-3">
                            <input name="default-radio-1" class="form-check-input" type="radio" value="" id="defaultRadio3">
                            <label class="form-check-label" for="defaultRadio3"> Paypal </label>
                          </div>
                        </div>
                        
                      </div>
                      
                      <div class="mb-3 col-md-12">
                        <label for="email" class="form-label">Email</label>
                        <input
                          class="form-control"
                          type="email"
                          id="email"
                          name="email"
                          value=""
                          autofocus
                        />
                      </div>
                      <div class="mb-3 col-md-12">
                        <label for="address" class="form-label">Direccion</label>
                        <input
                          class="form-control"
                          type="text"
                          id="address"
                          name="address"
                          value=""
                          autofocus
                        />
                      </div>
                      <hr class="my-3">
                      <div class="mb-3 col-md-12">
                        <label for="cardOwner" class="form-label">Titular</label>
                        <input
                          class="form-control"
                          type="text"
                          id="cardOwner"
                          name="cardOwner"
                          value=""
                          autofocus
                        />
                      </div>
                      <div class="mb-3 col-md-12">
                        <label for="cardNumber" class="form-label">Numero de la tarjeta</label>
                        <input
                          class="form-control"
                          type="number"
                          id="cardNumber"
                          name="cardNumber"
                          value=""
                          autofocus
                        />
                      </div>
                      <div class="mb-3 pt-2 col-md-8">
                        <label>Fecha de expiracion</label>
                        <div class="row">
                          <div class="col-md-6">
                            <input
                              class="form-control"
                              type="number"
                              id="month"
                              name="month"
                              value=""
                              placeholder="mes"
                              autofocus
                            />
                          </div>
                          <div class="col-md-6">
                            <input
                              class="form-control"
                              type="number"
                              id="year"
                              name="year"
                              value=""
                              placeholder="año"
                              autofocus
                            />
                          </div>
                        </div>
                      </div>
                      <div class="mb-3 col-md-4 ">
                        <label for="cvv" class="form-label">CVV</label>
                        <input
                          class="form-control"
                          type="number"
                          id="cvv"
                          name="cvv"
                          value=""
                          placeholder="123"
                          autofocus
                        />
                      </div>

                      
                    <div class="mt-2">
                      <button type="submit" class="btn btn-primary me-2">Continuar</button>
                      <button type="reset" class="btn btn-outline-secondary">Cancel</button>
                    </div>
                  </form>
                </div>
                <!-- /Account -->
              </div>
              <!-- Basic Bootstrap Table -->
              
            <!-- / Content -->
<%- include("./partials/footer") %>