<%- include("./partials/head") %>

<body>
    <!-- Layout wrapper -->
  <div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
      <!-- Menu -->
      <%- include("./partials/header") %>
      <!-- / Menu -->

    <!-- Layout container -->
    <div class="layout-page">

      <!-- Content wrapper -->
      <div class="content-wrapper">
        <!-- Content -->

        <div class="container-xxl flex-grow-1 container-p-y">
          <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Servicios /</span> Alquiler paso 2</h4>

          <div class="row">
            <div class="col-md-12">
              <div class="card mb-4">
                <div class="d-flex align-items-center">
                    <a class="card-header" href="/servicios/alquiler2/<%- vehiculo.id %>">Fecha de alquiler</a> 
                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15"><path fill="currentColor" d="M8.293 2.293a1 1 0 0 1 1.414 0l4.5 4.5a1 1 0 0 1 0 1.414l-4.5 4.5a1 1 0 0 1-1.414-1.414L11 8.5H1.5a1 1 0 0 1 0-2H11L8.293 3.707a1 1 0 0 1 0-1.414Z"/></svg>
                    <a class="card-header" href="/servicios/alquiler3/<%- vehiculo.id %>">Opcion de alquiler</a> 
                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15"><path fill="currentColor" d="M8.293 2.293a1 1 0 0 1 1.414 0l4.5 4.5a1 1 0 0 1 0 1.414l-4.5 4.5a1 1 0 0 1-1.414-1.414L11 8.5H1.5a1 1 0 0 1 0-2H11L8.293 3.707a1 1 0 0 1 0-1.414Z"/></svg>
                    <a class="card-header" href="/servicios/alquiler4/<%- vehiculo.id %>">Pago</a>
                </div>
                
                <!-- Account -->
                <hr class="my-0" />
                <div class="card-body">
                  <form id="formAccountSettings" method="POST" action="/servicios/alquiler_paso2">
                    <input type="hidden" name="vehiculo" value="<%- vehiculo.id %>">
                    <div class="row">
                        <div class="mb-3 row">
                            <div class="col-md-3">
                                <h5 class="mb-1"><%- vehiculo.marca %> <%- vehiculo.modelo %></h5>
                                <img src="/assets/img/martinedit-640x427.jpg" style="border-radius: 4px;" class="w-75" alt="">
                            </div>
                            <div class="col-md-5 pt-4">
                              <p><%- vehiculo.descripcion %></p>
                            </div>
                            <div class="col-md-1 text-center pt-4">
                                <div>
                                    <b>Modelo</b>
                                    <p><%- vehiculo.modelo %></p>
                                </div>
                                <div>
                                    <b>Marca</b>
                                    <p><%- vehiculo.marca %></p>

                                </div>
                            </div>
                            <div class="col-md-1 text-center pt-4">
                                <div>
                                    <b>Potencia</b>
                                    <p><%- vehiculo.potencia %></p>

                                </div>
                                <div>
                                    <b>Peso</b>
                                    <p><%- vehiculo.peso %></p>
                                </div>
                            </div>
                            <div class="col-md-1 text-center pt-4">
                                <div>
                                    <b>Año</b>
                                    <p><%- vehiculo.año %></p>
                                </div>
                                <div>
                                    <b>Traccion</b>
                                    <p><%- vehiculo.traccion %></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <h5 class="ms-4">Elegir fecha de alquiler</h5>
                            <div class="calendar-wrapper" id="calendar-wrapper"></div>
                            <input type="hidden" name="fecha" id="fecha">
                            <div id="editor"></div>
                        </div>
                        <div class="col-6">
                            <div class="mt-3">
                                <label for="exampleFormControlSelect1" class="form-label">Elegir Evento</label>
                                <select class="form-select" name="evento" id="exampleFormControlSelect1" aria-label="Default select example">
                                  <option selected>Seleccionar..</option>
                                  <% eventos_lista.forEach(el => { %>
                                    <option value="<%- el.id %>"><%- el.nombre %><%- el.nombre_evento %></option>
                                  <% }) %>
                                </select>
                            </div>

                            
                        </div>
                    </div>
                    
                    <div class="mt-2">
                      <button type="submit" class="btn btn-primary me-2">Continuar</button>
                      <button type="submit" name="reset" value="true" class="btn btn-outline-secondary">Cancel</button>
                    </div>
                  </form>
                </div>
                <!-- /Account -->
              </div>
              <!-- Basic Bootstrap Table -->
              
            <!-- / Content -->

            <!-- Footer -->
            <footer class="content-footer footer bg-footer-theme">
              <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
                
              </div>
            </footer>
            <!-- / Footer -->

            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->
     <!--Calendar-->
     <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
     <script src="/assets/plugins/powerful-calendar/calendar.min.js"></script>
     <script src="https://unpkg.com/codeflask/build/codeflask.min.js"></script>
     <script type="text/javascript">
         var configuracion = `

     
     var defaultConfig = {
     weekDayLength: 1,
     date: '03/09/2023',
     onClickDate: selectDate,
     showYearDropdown: true,
     startOnMonday: false,
     formatDate:new Date().toLocaleDateString()
     };
     
     var calendar = $('#calendar-wrapper').calendar(defaultConfig);
     console.log(calendar.getSelectedDate());
     function selectDate(date) {
      calendar.updateCalendarOptions({
        date: date
      });
      var options = { year: 'numeric', month: 'numeric', day: 'numeric' };

      console.log(new Date().toLocaleDateString(calendar.getSelectedDate(), options));
      document.querySelector("#fecha").value = new Date().toLocaleDateString(calendar.getSelectedDate(), options);
     }
     `;
         eval(configuracion);
        
       </script>
<%- include("./partials/footer") %>