<%- include("./partials/head") %>
<% if (status != "undefined" && status == "reservado") { %>
  <script>
    window.addEventListener('load', function () {
        Swal.fire(
        'Reserva enviada!',
        'Envie el comprobante del pago dentro de las proxima 24 horas para terminar completar su reserva.',
        'success'
      )
    })
  </script>
  <% } %>
<% if (status != "undefined" && status == "success") { %>
<script>
  window.addEventListener('load', function () {
      Swal.fire(
      'Subida de comprobante exitosa!',
      'Espere a que un administrador de Eztrack revise su archivo.',
      'success'
    )
  })
</script>
<% } %>
<% if (status != "undefined" && status == "error") { %>
  <script>
    window.addEventListener('load', function () {
        Swal.fire(
          'Error de envio de archivo!',
          'Compruebe que el archivo sea pdf, jpg, jpeg, png y no mas grande que 5 megas de tamaño.',
          'success'
      )
    })
  </script>
  <% } %>
<body>
    <!-- Layout wrapper -->
  <div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
      <!-- Menu -->
      <%- include("./partials/header") %>
      <!-- / Menu -->

    <!-- Layout container -->
    <div class="layout-page">

      <!-- Content wrapper -->
      <div class="content-wrapper">
        <!-- Content -->

        <div class="container-xxl flex-grow-1 container-p-y">
          <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Usuarios /</span> Mis pagos pendientes</h4>

          <div class="row">
            <div class="col-md-12">
              <h4 class="fw-bold py-3 mb-4">Mis Pagos Pendientes</h4>
              <!-- Basic Bootstrap Table -->
              <% if (pagos_pendientes_list.length > 0 ) { %>
              <div class="card">
                <div class="table-responsive text-nowrap">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Id</th>
                        <th>total</th>
                        <th>Usuario</th>
                        <th>Metodo</th>
                        <th>N° de Reserva</th>
                        <th>Fecha</th>
                        <th>Accion</th>
                      </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                      <% pagos_pendientes_list.forEach(pp => { %>
                      <tr>
                        <td> <strong><%- pp.id %></strong></td>
                        <td><%- (pp.total)? pp.usuario.dataValues.nombre : "-" %></td>
                        <td><%- (pp.usuario.dataValues.nombre)? pp.usuario.dataValues.nombre : "-"  %></td>
                        <td><%- (pp.metodo)? pp.metodo : "-" %></td>
                        <td><b><%- (pp.reserva)? "#"+pp.reserva.dataValues.id : "-" %></b></td>
                        <td><%- (pp.createdAt)? pp.createdAt : "-" %></td>
                        <td><button type="button" class="btn btn-primary" onClick="clickEnviarComprobante('<%- pp.id %>')" data-bs-toggle="modal" data-bs-target="#modalComprobante">
                          <i class="bx bx-trash me-1"></i> Enviar Comprobante
                        </button></td>
                      </tr>
                      <% }); %>
                    </tbody>
                  </table>
                </div>
              </div>
              <% }else{ %>
                <p class="text-muted text-center fs-4 mb-5 mt-2 py-2 bg-light rounded-5">Ningun pago pendiente encontrado</p>
              <% } %>
              <h4 class="fw-bold py-3 mb-4">Mis pagos con comprobante enviados.</h4>
              <!-- Basic Bootstrap Table -->
              <% if (pagos_pendientes_enviado_list.length > 0 ) { %>
              <div class="card">
                <div class="table-responsive text-nowrap">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Id</th>
                        <th>total</th>
                        <th>Usuario</th>
                        <th>Metodo</th>
                        <th>N° de Reserva</th>
                        <th>Fecha</th>
                        <th>Archivo</th>
                      </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                      <% pagos_pendientes_enviado_list.forEach(ppe => { %>
                      <tr>
                        <td> <strong><%- ppe.id %></strong></td>
                        <td><%- (ppe.total)? ppe.usuario.dataValues.nombre : "-" %></td>
                        <td><%- (ppe.usuario.dataValues.nombre)? ppe.usuario.dataValues.nombre : "-"  %></td>
                        <td><%- (ppe.metodo)? ppe.metodo : "-" %></td>
                        <td><b><%- (ppe.reserva)? "#"+ppe.reserva.dataValues.id : "-" %></b></td>
                        <td><%- (ppe.createdAt)? ppe.createdAt : "-" %></td>
                        <td><a download href="/assets/pagos_comprobantes/<%- ppe.archivo %>">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1)"><path d="M6 2a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8l-6-6H6zm8 7h-1V4l5 5h-4z"></path></svg>
                        </a></td>
                      </tr>
                      <% }); %>
                    </tbody>
                  </table>
                </div>
              </div>
              <% }else{ %>
                <p class="text-muted text-center fs-4 mb-5 mt-2 py-2 bg-light rounded-5">Ningun pago vinculado a comprobante.</p>
              <% } %>
              <script>
                function clickEnviarComprobante(id){
                  let modalComprobante = document.querySelector('#modalComprobante ');
                  modalComprobante.querySelector('.modal-body form #idPagosPendientes').value = id;
                }
          
              </script>
              <div class="modal fade" id="modalComprobante" tabindex="-1" aria-labelledby="modalComprobanteLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title text-success" id="modalComprobanteLabel">Enviar comprobante</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <form action="/usuarios/enviar_comprobante" id="formComprobante" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="idPagosPendientes" id="idPagosPendientes">
                        <input type="file" name="comprobante">
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary" form="formComprobante">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
            <!-- / Content -->

<%- include("./partials/footer") %>
