<%- include("./partials/head") %>

<body>
    <!-- Layout wrapper -->
  <div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
      <!-- Menu -->
      <%- include("./partials/header") %>
      <!-- / Menu -->

    <!-- Layout container -->
    <div class="layout-page">

      <!-- Content wrapper -->
      <div class="content-wrapper">
        <!-- Content -->

        <div class="container-xxl flex-grow-1 container-p-y">
          <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Gestion /</span> Reservas</h4>

          <div class="row">
            <div class="col-md-12">
              <h4 class="fw-bold py-3 mb-4"> Lista Reservas</h4>
              <!-- Basic Bootstrap Table -->
              <div class="card">
                <div class="table-responsive text-nowrap">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Id</th>
                        <th>Usuario</th>
                        <th>Vehiculo</th>
                        <th>Cantidad de vueltas</th>
                        <th>Evento</th>
                        <th>Fecha</th>
                        <th>Subtotal</th>
                      </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                      <% reservas_list.forEach(r => { %>
                      <tr>
                        <td> <strong><%- r.id %></strong></td>
                        <td><%- (r.usuario)? r.usuario.dataValues.nombre : "-" %></td>
                        <td><%- (r.vehiculo)? r.vehiculo.dataValues.modelo+" "+r.vehiculo.dataValues.marca  : "-"  %></td>
                        <td><%- (r.opcion)? r.opcion.dataValues.cantidadVueltas : "-" %></td>
                        <td><%- (r.evento)? r.evento.dataValues.nombre_evento : "-" %></td>
                        <td><%- r.createdAt %></td>
                        <td><%- r.subtotal %>$</td>
                      </tr>
                      <% }); %>
                    </tbody>
                  </table>
                </div>
              </div>
            <!-- / Content -->

<%- include("./partials/footer") %>
