<%- include("./partials/head") %>
<% if (status != "undefined" && status == "success" && typeof vehiculo_editar  != "undefined") { %>
<script>
  window.addEventListener('load', function () {
      Swal.fire(
      'Modificacion exitosa!',
      'Vehiculo editado correctamente.',
      'success'
    )
  })
</script>
<% } %>
<% if (status != "undefined" && status == "success" && typeof vehiculo_editar  == "undefined") { %>
  <script>
    window.addEventListener('load', function () {
        Swal.fire(
          'Alta exitosa!',
          'Vehiculo nuevo ingresado correctamente.',
          'success'
      )
    })
  </script>
  <% } %>
<body>
    <!-- Layout wrapper -->
  <div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
      <!-- Menu -->
      <%- include("./partials/header") %>
      <!-- / Menu -->

    <!-- Layout container -->
    <div class="layout-page">

      <!-- Content wrapper -->
      <div class="content-wrapper">
        <!-- Content -->

        <div class="container-xxl flex-grow-1 container-p-y">
          <% if (typeof vehiculo_editar  != "undefined") { %>
            <a href="/admin/vehiculos" class="btn-volver"> 
              <i class='bx bx-arrow-back' ></i>Volver alta</a>
           <% } %>
          <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Gestion /</span> Vehiculos</h4>

          <div class="row">
            <div class="col-md-12">
              <div class="card mb-4">
                <% if (typeof vehiculo_editar  != "undefined") { %>
                  <h5 class="card-header">Editar Vehiculo</h5>
                 <% } else{ %>
                  <h5 class="card-header">Alta Vehiculo</h5>
                <% } %>
                
                <!-- Account -->
                <hr class="my-0" />
                <div class="card-body">
                  <form id="formAccountSettings" class="form-validate" method="POST"
                  <% if (typeof vehiculo_editar  != "undefined") { %>
                    action="/admin/vehiculos/1?_method=PUT"  
                  <% }else{ %>
                    action="/admin/vehiculos/" 
                  <% } %>
                   enctype="multipart/form-data">
                    <div class="row">
                      <div class="mb-3 col-md-4">
                        <label for="model" class="form-label">Modelo</label>
                        <input
                          class="form-control validate"
                          type="text"
                          id="model"
                          name="model"
                          data-validation-type="alphanumeric_space"
                          data-validation-length="1_20"
                          <% if (typeof vehiculo_editar  != "undefined") { %>
                            value="<%- vehiculo_editar.modelo %>"
                          <% } %>
                          autofocus
                        />
                        <div class="error-validacion">
                          Modelo debe ser alfanumerico de 1 a 20 caracteres, admite espacio.
                        </div>
                      </div>
                      <div class="mb-3 col-md-4">
                        <label for="brand" class="form-label">Marca</label>
                        <input class="form-control validate" type="text" name="brand" id="brand" 
                        data-validation-type="alphanumeric_space"
                        data-validation-length="1_20"
                        <% if (typeof vehiculo_editar  != "undefined") { %>
                          value="<%- vehiculo_editar.marca %>"
                        <% } %> />
                        <div class="error-validacion">
                          Marca debe ser alfanumerico de 1 a 20 caracteres, admite espacio.
                        </div>
                      </div>
                      <div class="mb-3 col-md-4">
                        <label for="year" class="form-label">Año</label>
                        <input
                          type="text"
                          class="form-control validate"
                          id="year"
                          name="year"
                          data-validation-type="number"
                          data-validation-length="4_4"
                          <% if (typeof vehiculo_editar  != "undefined") { %>
                            value="<%- vehiculo_editar.año %>"
                          <% } %>
                        />
                        <div class="error-validacion">
                          Año debe ser un numero entero, de 4 caracteres.
                        </div>
                      </div>
                      <div class="mb-3 col-md-6">
                        <label for="power" class="form-label">Potencia</label>
                        <input
                          class="form-control validate"
                          type="text"
                          id="power"
                          name="power"
                          data-validation-type="number"
                          data-validation-length=""
                          <% if (typeof vehiculo_editar  != "undefined") { %>
                            value="<%- vehiculo_editar.potencia %>"
                          <% } %>
                          placeholder=""
                        />
                        <div class="error-validacion">
                          Potencia debe ser un numero entero.
                        </div>
                      </div>
                      
                      <div class="mb-3 col-md-6">
                        <label for="weight" class="form-label">Peso</label>
                        <input
                          type="number"
                          class="form-control validate"
                          id="weight"
                          name="weight"
                          data-validation-type="number"
                          data-validation-length=""
                          <% if (typeof vehiculo_editar  != "undefined") { %>
                            value="<%- vehiculo_editar.peso %>"
                          <% } %>
                        />
                        <div class="error-validacion">
                          Peso debe ser un numero entero.
                        </div>
                      </div>
                      <div class="mb-3 col-md-4">
                        <label for="level" class="form-label">Nivel</label>
                        <input
                          class="form-control validate"
                          type="number"
                          id="level"
                          name="level"
                          data-validation-type="number"
                          data-validation-length=""
                          <% if (typeof vehiculo_editar  != "undefined") { %>
                            value="<%- vehiculo_editar.nivel %>"
                          <% } %>
                          placeholder=""
                        />
                        <div class="error-validacion">
                          Nivel debe ser un numero entero.
                        </div>
                      </div>
                      <div class="mb-3 col-md-4">
                        <label for="lap_price" class="form-label">Precio vuelta</label>
                        <input
                          type="number"
                          class="form-control validate"
                          id="lap_price"
                          name="lap_price"
                          data-validation-type="number"
                          data-validation-length=""
                          <% if (typeof vehiculo_editar  != "undefined") { %>
                            value="<%- vehiculo_editar.precio_vuelta %>"
                          <% } %>
                        />
                        <div class="error-validacion">
                          Precio debe ser un numero entero.
                        </div>
                      </div>
                      <div class="mb-3 col-md-4">
                        <label for="traction" class="form-label">Traccion</label>
                        <input
                          type="text"
                          class="form-control validate"
                          id="traction"
                          name="traction"
                          data-validation-type="number"
                          data-validation-length=""
                          <% if (typeof vehiculo_editar  != "undefined") { %>
                            value="<%- vehiculo_editar.traccion %>"
                          <% } %>
                        />
                        <div class="error-validacion">
                          Traccion debe ser un numero entero.
                        </div>
                      </div>
                      <div class="mb-3 col-md-8">
                        <label for="description" class="form-label">Descripcion</label>
                        <textarea name="description" id="description" class="form-control validate" rows="5"
                        data-validation-type="alphanumeric_space"
                        data-validation-length="0_200"
                        ><% if (typeof vehiculo_editar  != "undefined") { %><%- vehiculo_editar.Descripcion %><% } %></textarea>
                        <div class="error-validacion">
                          Maxima cantidad de caracteres para la descripcion es 200.
                        </div>
                      </div>
                      <div class="mb-3 col-md-4">
                        
                        <label for="image" class="form-label">Imagen</label>
                        <input type="file" name="featuredImage" class="form-control" id="image">
                        <% if (typeof vehiculo_editar  != "undefined") { %>
                          <img src="/assets/image_vehiculos/<%- vehiculo_editar.img %>" onerror="if (this.src != '/assets/img/default-car.png') this.src = '/assets/img/default-car.png';"  class="w-75 mx-auto d-block" >
                        <% } %>
                      </div>

                    </div>
                    <div class="mt-2">
                      <button type="submit" class="btn btn-primary me-2">Guardar</button>
                      <button type="reset" class="btn btn-outline-secondary">Cancel</button>
                    </div>
                  </form>
                </div>
                <!-- /Account -->
              </div>
              <h4 class="fw-bold py-3 mb-4"> Lista vehiculos</h4>
              <!-- Basic Bootstrap Table -->
              <% if (vehiculos_list.length > 0) { %>
                <div class="card">
                  <div class="table-responsive text-nowrap">
                    <table class="table table-list">
                      <thead>
                        <tr>
                          <th>Id</th>
                          <th style="padding-left: 34px;"><i class='bx bxs-camera'></i></th>
                          <th>Modelo</th>
                          <th>Marca</th>
                          <th>Potencia</th>
                          <th>Peso</th>
                          <th>Estado</th>
                          <th>Accion</th>
                        </tr>
                      </thead>
                      <tbody class="table-border-bottom-0">
                        <% vehiculos_list.forEach(v => { %>
                          <tr>
                            <td> <strong><%- v.id %></strong></td>
                            <td><img src="/assets/image_vehiculos/<%- v.img %>" onerror="if (this.src != '/assets/img/default-car.png') this.src = '/assets/img/default-car.png';" class="thumbnail" ></td>
                            <td><%- v.modelo %></td>
                            <td><%- v.marca %></td>
                            <td><%- v.potencia %></td>
                            <td><%- v.peso %></td>
                            <td><span class="badge bg-label-success me-1">Activo</span></td>
                            <td>
                              <div class="dropdown">
                                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                  <i class="bx bx-dots-vertical-rounded"></i>
                                </button>
                                <div class="dropdown-menu">
                                  <a class="dropdown-item" href="/admin/vehiculos/<%- v.id %>"
                                    ><i class="bx bx-edit-alt me-1"></i> Editar</a
                                  >
                                  <a class="dropdown-item" href="/admin/borrar/<%- v.id %>"
                                    ><i class="bx bx-trash me-1"></i> Borrar</a
                                  >
                                </div>
                              </div>
                            </td>
                          </tr>
                        <% }) %>
                      </tbody>
                    </table>
                  </div>
                </div>
              <% }else{ %>
                <p class="text-muted text-center fs-4 mb-5 mt-2 py-2 bg-light rounded-5">Ningun vehiculo encontrado</p>
              <% } %>
            <!-- / Content -->
<%- include("./partials/footer") %>

